*{
  margin:0px;
  padding:0px;
}
body {
  padding: 0;
  margin-top: 0;
  background: url(bgb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  max-width: auto;
  max-height: auto;
  background: #5A5A5A;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 10px;
}
.brand{
  color: white;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 50px;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: left;
}
.dropbtn {padding: 10px 10px;
  border: none;
  border-radius: 0px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 100%;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown-content img {
  width: 50px;
  height: 50px;
}
.dropdown {
  min-width: 100px;
  padding: 8px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
}

.grid > article {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: lightgray;
}

.grid > article img {
  border: 5px solid green;
  max-height: 100%;
  max-width: 100%;
  width: 200px;
  height: 200px;
  margin: 10px auto; 
  display: block;
}
.grid > article img {
  border: 5px solid green;
  max-height: 100%;
  max-width: 100%;
  width: 200px;
  height: 200px;
  margin: 10px auto; 
  display: block;
}
.grid .text {
  padding: 10px;
  text-align: center;
}
.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
h1{
  text-align: center;
  margin-bottom: 0%;
}


